.dark {
  background-color: black;
  color: white;
}

.white {
  background-color: white;
  color: black;
}

.dark .navbar-nav .nav-link {
  color: white !important; /* White text color for navbar links */
}

.dark .navbar-brand {
  color: white !important; /* White text color for navbar brand */
}

/* Default styles */
.portfolio p,
.portfolio h3 {
  color: black; /* Default color */
}

/* Light mode styles */
.light .portfolio p,
.light .portfolio h3 {
  color: black; /* Black color in light mode */
}

/* Dark mode styles */
.dark .portfolio p,
.dark .portfolio h3 {
  color: white; /* White color in dark mode */
}

.toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.toggle input {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}
